div{
    border: 2px solid rgb(4, 22, 29);
    text-align: left;
}
h1{
    text-decoration:underline;
    color: rgb(11, 126, 55);
}
.footer{
    background: black;
    text-align: center;
    color: aliceblue;
}