div{
    background-color: blanchedalmond;
    border: 2px solid rgb(4, 22, 29);
    text-align: left;
}
.signup{
    width: 100%;
    background-color: rgb(166, 252, 216);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNXj2T-96e8msgTfI0LZhnKMBsnzu71eSlcQ&s);
    background-size:cover;
}
h1{
    text-decoration:underline;
    color: rgb(11, 126, 55);
}
h2{
    text-decoration: underline;
    color: rgb(165, 162, 128);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f7fa;
}

.footer {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}


